@model EntityLayer.Concrete.Job
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<form method="post">

    @Html.Label("Meslek ID")
    @Html.TextAreaFor(x => x.JobID, new { @class = "form-control" })
    <br />

    @Html.Label("Meslek Adı")
    @Html.TextAreaFor(x => x.JobName, new { @class = "form-control" })
  
    <br />
    <button class="btn btn-info">Meslek Güncelle</button>

</form>

